body {
    padding: 0;
    margin: 5px;
}

ul {
    text-align: center;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin flex-center ($between:space-between) {
    display: flex;
    justify-content: $between;
    align-items: center;
}

$green:#29b078;
$white:#fff;
header {
    .header-box {
        @include flex-center;
        height: 1.3rem;
        font-size: .5rem;
        color: $green;
        .wx {
            display: inline-block;
            background: url(../img/img1.png)no-repeat 0 -5%/100%;
            width: 20px;
            height: 20px;
        }
        .qq {
            display: inline-block;
            background: url(../img/img1.png)no-repeat 0 29%/100%;
            width: 20px;
            height: 20px;
        }
        .wb {
            display: inline-block;
            background: url(../img/img1.png)no-repeat 0 62.5%/100%;
            width: 20px;
            height: 20px;
        }
    }
}

nav {
    background: $green;
    .nav-box {
        display: flex;
        justify-content: flex-end;
        .font-box {
            display: inline-block;
            text-align: center;
            width: 4.5rem;
            line-height: 3rem;
            border-bottom: solid 2px $green;
            font-size: 10px;
            color: $white;
            &:hover {
                border-color: #fff;
            }
            @media (max-width:986px) {
                & {
                    display: none;
                }
            }
        }
        .dropdown {
            @media(min-width: 986px) {
                & {
                    display: none;
                }
            }
            .btn {
                @media(max-width: 986px) {
                    & {
                        display: inline-block;
                    }
                }
            }
            .dropdown-toggle {
                &::after {
                    display: none;
                }
            }
            .btn-secondary {
                background: #29b078;
                border: none;
            }
            .dropdown-menu {
                position: initial;
                border: none;
                padding: 0;
                margin: 0;
                width: 100%;
                min-width: 0;
                box-shadow: initial;
                .nav-ul {
                    background: #29b078;
                    margin: 0 !important;
                    a {
                        text-decoration: none;
                        &:hover {
                            text-decoration: none;
                        }
                        .nav-fon {
                            display: block;
                            color: #fff;
                            :hover {
                                background: #32c086;
                            }
                        }
                    }
                }
            }
        }
    }
}